<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--
This listener implements AuthenticationListener and if it gets the parameter "redirectToCommuneWeb" in the request
it will try to forward the current user to his communes website if it has an URL in the ic_commune table
 -->
	<listener>
		<listener-class>is.idega.idegaweb.egov.business.CommuneLoginRedirector</listener-class>
	</listener>
</web-app>